.vote-wrapper{
    width: 30px;
    text-align: center;
}
.vote-icon{
    font-size: 20px;
    display: block;
    margin: 0 5px;
    cursor: pointer;
}
.total-vote{
    display: block;
    margin: 0 5px;
    padding: 0;
    font-weight: bold;
   
}